<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat System</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <script src="https://chat-service-fhbc.onrender.com/socket.io/socket.io.js"></script>
    <script>
        const socket = io.connect('https://chat-service-fhbc.onrender.com');
    </script>
    <!-- <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script>
        const socket = io.connect('http://localhost:3000');
    </script> -->

    <style>
        body {
            margin: 0;
            padding: 0;
            position: relative;
            overflow-x: hidden;
        }

        #map {
            width: 100%;
            height: 100vh;
            position: relative;
        }

        #send_location {
            position: absolute;
            bottom: 15%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1000;
            padding: 10px 20px;
            font-size: 16px;
        }
    </style>
</head>

<body>
    <div id="map"></div>
    <button id="send_location">Send Location</button>
</body>
<script src="scripts/map.js"></script>
<!-- <script src="scripts/pagereload.js"></script> -->

</html>